// différents modules babel afin de transpiler en es5
{
    "presets": [],
    "plugins": [
        [
            "@babel/plugin-proposal-class-properties",
            "@babel/plugin-transform-classes"
        ]
    ]
}